.site-header {
    background-color:rgb(8, 121, 201);
    box-sizing:border-box;
    color:rgb(61, 61, 61);
    display:flex;
    font-family:Bogle;
    font-size:14px;
    height:74px;
    line-height:20px;
    position:relative;
    text-size-adjust:100%;
    width:100%;
    z-index:9998;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.site-header .container {
    align-items:center;
    box-sizing:border-box;
    color:rgb(61, 61, 61);
    display:flex;
    font-family:Bogle;
    font-size:14px;
    height:74px;
    line-height:20px;
    margin-left:20px;
    margin-right:0px;
    max-width:1360px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    text-size-adjust:100%;
    width:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}