.box-product .product-image {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: Bogle;
    font-size: 11px;
    height: 150px;
    line-height: 15.7143px;
    position: relative;
    text-size-adjust: 100%;
    width: 254.25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-link {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(61, 61, 61);
    cursor: pointer;
    display: inline;
    font-family: Bogle;
    font-size: 11px;
    line-height: 15.7143px;
    outline-color: rgb(61, 61, 61);
    outline-style: none;
    outline-width: 0px;
    text-decoration-color: rgb(61, 61, 61);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.photo-container {
    box-sizing: border-box;
    color: rgb(61, 61, 61);
    cursor: pointer;
    display: block;
    font-family: Bogle;
    font-size: 11px;
    height: 150px;
    line-height: 15.7143px;
    min-height: 150px;
    text-size-adjust: 100%;
    width: 254.25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.box-product .product-image .photo-container img {
    border-bottom-color: rgb(61, 61, 61);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(61, 61, 61);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(61, 61, 61);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(61, 61, 61);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(61, 61, 61);
    cursor: pointer;
    display: block;
    font-family: Bogle;
    font-size: 11px;
    height: 150px;
    line-height: 15.7143px;
    margin-bottom: 0px;
    margin-left: 52.125px;
    margin-right: 52.125px;
    margin-top: 0px;
    max-width: 100%;
    opacity: 1;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 150px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.box-product .reference-code {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: block;
    font-family: Bogle;
    font-size: 10px;
    height: 10px;
    line-height: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-size-adjust: 100%;
    width: 254.25px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}